.swiper{
    height: 50px;
    width: 100%;
    background-color: #FFCA03;

}
.mySwiper{
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0%;

}

.listanchr{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding : 0px 1.5%
}

.listitem{
    display: inline-block;
    position: relative;
    width: 100%;

}

.swipList{
    height: auto;
    width: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0 1.5% 0 1.5%;
  transition-duration: 0.2s;
  transition-delay: 0.1s
   

}

.swipList:hover {
    font-size: 20px;
    background-color: #FFF323;
    
}